# Time Series

# Dan Wang

## 1. Date and Time Data Types and Tools

In [1]:
from datetime import datetime

now = datetime.now()
print(now.year, now.month, now.day)
#now

2018 11 6

In [2]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)

926 days, 15:45:00

In [3]:
print(delta.days)
print (delta.seconds)

926
56700

In [4]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(4)

datetime.datetime(2011, 1, 11, 0, 0)

In [5]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

Type Description  
date: Store calendar date (year, month, day) using the Gregorian calendar.  
time: Store time of day as hours, minutes, seconds, and microseconds  
datetime: Stores both date and time  
timedelta: Represents the difference between two datetime values (as days, seconds, and microseconds)

### 1.1 Coverting between string and datetime

In [6]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [7]:
stamp.strftime('%y-%m-%d')

'11-01-03'

Type Description  
%Y 4-digit year   
%y 2-digit year  
%m 2-digit month [01, 12]  
%d 2-digit day [01, 31]  
%H Hour (24-hour clock) [00, 23]  
%I Hour (12-hour clock) [01, 12]  
%M 2-digit minute [00, 59]  
%S Second [00, 61] (seconds 60, 61 account for leap seconds)  
%w Weekday as integer [0 (Sunday), 6]  
%U Week number of the year [00, 53]. Sunday is considered the first day of the week, and days before the first
Sunday of the year are “week 0”.  
%W Week number of the year [00, 53]. Monday is considered the first day of the week, and days before the first
Monday of the year are “week 0”.  
%z UTC time zone offset as +HHMM or -HHMM, empty if time zone naive  
%F Shortcut for %Y-%m-%d, for example 2012-4-18  
%D Shortcut for %m/%d/%y, for example 04/18/12

In [8]:
value = '201101/03'
datetime.strptime(value, '%Y%m/%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

It can be a bit annoying to have to write a format spec each time, especially for common date formats. In this case, you can use the *parser.parse* method in the third party *deteutil* package:

pandas is generally oriented toward working with arrays of dates, whether used as an axis index or a column in a DataFrame.

In [10]:
import pandas as pd
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [11]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.isnull(idx)

array([False, False,  True])

### 1.2 Time Series Basics

The most basic kind of time series object in pandas is a Series indexed by timestamps, which is often represented external to pandas as Python strings or *datetime* objects.

In [13]:
import numpy as np
import pandas as pd

from datetime import datetime
from pandas import Series, DataFrame

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.268135
2011-01-05   -0.511540
2011-01-07   -1.397643
2011-01-08    0.178728
2011-01-10    0.524169
2011-01-12   -1.414903
dtype: float64

In [14]:
type(ts)

pandas.core.series.Series

In [15]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [16]:
stamp = ts.index[0]
stamp
ts[0]

0.2681348751338522

In [19]:
ts[::2] + ts

2011-01-02    0.536270
2011-01-05         NaN
2011-01-07   -2.795286
2011-01-08         NaN
2011-01-10    1.048338
2011-01-12         NaN
dtype: float64

### 1.3 Indexing, Selection, Subsetting

In [20]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [21]:
ts[stamp]

-1.3976430523611976

As a convenience, you can also pass a string that is interpretable as a data.

In [22]:
ts['1/10/2011']

0.5241687624528168

In [23]:
ts['2011-01-10']

0.5241687624528168

For longer time series, a year or only a year and month can be passed to easily select slices of data.

In [24]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01    1.374950
2000-01-02   -0.065799
2000-01-03   -1.973718
2000-01-04   -0.169162
2000-01-05    0.437105
Freq: D, dtype: float64

In [25]:
longer_ts['2001']

2001-01-01   -1.035343
2001-01-02   -2.210568
2001-01-03   -1.013525
2001-01-04   -1.500216
2001-01-05   -0.403464
2001-01-06    0.458630
2001-01-07    0.470792
2001-01-08    0.269151
2001-01-09    0.500518
2001-01-10   -2.453590
2001-01-11    0.470605
2001-01-12    1.191731
2001-01-13    0.097206
2001-01-14    1.291652
2001-01-15   -0.807133
2001-01-16   -2.532666
2001-01-17    0.035950
2001-01-18   -1.315180
2001-01-19   -0.949170
2001-01-20   -1.595531
2001-01-21   -0.758261
2001-01-22    0.042963
2001-01-23    0.463407
2001-01-24    0.741842
2001-01-25    0.290401
2001-01-26   -0.804904
2001-01-27    0.375730
2001-01-28    0.438273
2001-01-29   -2.023952
2001-01-30   -0.759530
                ...
2001-12-02   -0.566065
2001-12-03    1.247424
2001-12-04    1.868514
2001-12-05    1.401413
2001-12-06    1.418317
2001-12-07    0.513806
2001-12-08    1.222672
2001-12-09    0.585877
2001-12-10    0.700452
2001-12-11    1.696849
2001-12-12    0.002510
2001-12-13   -0.683475
2001-12-14    0.661441
2001-12-15    1.905883
2001-12-16   -0.377606
2001-12-17   -0.069191
2001-12-18    0.569120
2001-12-19    0.557631
2001-12-20    0.932939
2001-12-21    0.305130
2001-12-22   -0.942333
2001-12-23    1.087667
2001-12-24   -1.622675
2001-12-25   -2.355375
2001-12-26   -0.254293
2001-12-27    0.891437
2001-12-28    0.842314
2001-12-29    0.908019
2001-12-30   -0.897947
2001-12-31    1.369907
Freq: D, Length: 365, dtype: float64

In [26]:
longer_ts['2001-05']

2001-05-01   -0.374650
2001-05-02   -0.062518
2001-05-03   -1.536241
2001-05-04   -1.100409
2001-05-05    1.061155
2001-05-06   -1.344573
2001-05-07    1.614212
2001-05-08   -0.219752
2001-05-09    1.474314
2001-05-10   -1.223512
2001-05-11    1.229822
2001-05-12    1.037050
2001-05-13   -0.167170
2001-05-14   -0.020538
2001-05-15   -0.352646
2001-05-16   -0.991793
2001-05-17    0.257919
2001-05-18   -0.562607
2001-05-19   -0.587127
2001-05-20    0.456243
2001-05-21   -0.707643
2001-05-22   -1.054273
2001-05-23    0.943769
2001-05-24   -1.282871
2001-05-25    2.224890
2001-05-26    0.688897
2001-05-27   -0.081753
2001-05-28    0.619309
2001-05-29   -0.179538
2001-05-30   -0.775560
2001-05-31    0.915826
Freq: D, dtype: float64

In [27]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.397643
2011-01-08    0.178728
2011-01-10    0.524169
2011-01-12   -1.414903
dtype: float64

In [28]:
ts['1/6/2011':'1/10/2011']

2011-01-07   -1.397643
2011-01-08    0.178728
2011-01-10    0.524169
dtype: float64

In [29]:
ts.truncate(after='1/9/2011')

2011-01-02    0.268135
2011-01-05   -0.511540
2011-01-07   -1.397643
2011-01-08    0.178728
dtype: float64

In [30]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.271307  0.200375  0.231834  1.002901
2001-05-09  0.765851 -1.339671 -0.354087  1.237642
2001-05-16  0.803647 -0.158185  0.071707  1.228842
2001-05-23  0.774946  1.145332 -1.204538  0.042956
2001-05-30  0.413904 -2.582526 -1.563804  2.170993

### 1.4 Time Series with Duplicate Indices

In [31]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])

dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [32]:
dup_ts.index.is_unique

False

In [33]:
new_ts = dup_ts.index.drop_duplicates()
new_ts

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq=None)

In [34]:
dup_ts['1/3/2000']

4

In [35]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [36]:
grouped = dup_ts.groupby(level=0)
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 2. Date Range, Frequencies, and Shifting

In [37]:
ts

2011-01-02    0.268135
2011-01-05   -0.511540
2011-01-07   -1.397643
2011-01-08    0.178728
2011-01-10    0.524169
2011-01-12   -1.414903
dtype: float64

Converting it to be fixed daily frequency can be accomplished by caling *resample*.

In [38]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### 2.1 Generating Date Ranges

In [39]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range('1/1/2000', '12/31/2000', freq='BM') #business day end of month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [43]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

### 2.2 Frequencies and Date Offsets

In [44]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [45]:
four_hours = Hour(4)
four_hours

In most applications, you would never need to explicitly create one of these objects,
instead using a string alias like 'H' or '4H'. Putting an integer before the base frequency
creates a multiple:

In [46]:
dr_tmp = pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')
dr_tmp

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [47]:
dr_tmp[0] + Hour(2)

Timestamp('2000-01-01 02:00:00', freq='4H')

In [48]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 2.3 Week of Month Dates

In [49]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

Traders of US equity options will recognize these dates as the stadard dates of monthly expiry.

### 2.4 Shifting (Leading and Lagging) Data

In [51]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='BM'))
ts

2000-01-31   -1.346158
2000-02-29   -1.137557
2000-03-31    0.880796
2000-04-28   -0.113511
Freq: BM, dtype: float64

In [52]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.346158
2000-04-28   -1.137557
Freq: BM, dtype: float64

In [53]:
ts.shift(-2)

2000-01-31    0.880796
2000-02-29   -0.113511
2000-03-31         NaN
2000-04-28         NaN
Freq: BM, dtype: float64

In [54]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.154960
2000-03-31   -1.774287
2000-04-28   -1.128873
Freq: BM, dtype: float64

In [55]:
ts.shift(2, freq='M')

2000-03-31   -1.346158
2000-04-30   -1.137557
2000-05-31    0.880796
2000-05-31   -0.113511
Freq: BM, dtype: float64

### 2.5 Shifting Dates with Offsets

In [56]:
from pandas.tseries.offsets import Day, BMonthEnd, MonthEnd
now = datetime(2011, 11, 17)
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

In [57]:
now + BMonthEnd()

Timestamp('2011-11-30 00:00:00')

In [58]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [59]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [60]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [61]:
ts = Series(np.random.randn(20),
          index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.077623
2000-02-29    0.665946
2000-03-31    0.050538
dtype: float64

In [62]:
ts.resample('M').mean()

2000-01-31   -0.077623
2000-02-29    0.665946
2000-03-31    0.050538
Freq: M, dtype: float64

## 3. Time Zone Handling

In [63]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [64]:
tz = pytz.timezone('US/Eastern')
tz

### 3.1 Localization and Conversion

In [ ]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)
ts

In [ ]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_utc.tz_convert('US/Eastern')

### 3.3 Operations with Time Zone

In [ ]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')

## 4. Periods and Period Arithmetic

In [ ]:
p = pd.Period(2007, freq='A-DEC')
p

In [ ]:
p+5

In [ ]:
pd.Period('2014', freq='A-DEC') - p

In [ ]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
rng

In [ ]:
Series(np.random.randn(6), index=rng)

### 4.1 Period Frequency Conversion

In [ ]:
p = pd.Period('2007', freq='A-OCT')
p.asfreq('M', how='start')

In [ ]:
p.asfreq('M', how='end')

In [ ]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

In [ ]:
p.asfreq('M', 'end')

In [ ]:
p = pd.Period('2007-08', 'M')
p.asfreq('A-JUN')

In [ ]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ts.asfreq('M', how='start')

In [ ]:
ts.asfreq('B', how='end')

### 4.2 Quarterly Period Frequencies

In [ ]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

In [ ]:
p.asfreq('D', 'start')

In [ ]:
p.asfreq('D', 'end')

## 5. Resampling and Frequency Conversion

Resampling refers to the process of converting a time series from one frequency to another. Aggregating higher frequency data to lower frequency is called downsampling, while converting lower frequency to higher frequency is called upsampling.

In [ ]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
ts.resample('M').mean()

### 5.1 Downsampling

In [ ]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts

In [ ]:
ts.resample('5min').sum()

In [ ]:
ts.resample('5min', closed='right').sum() #by default closed = 'left'

In [ ]:
ts.resample('5min',  closed='left', label='right').sum()

### 5.2 Open-High-Low-Close Resampling

In [ ]:
ts.resample('5min').ohlc()

### 5.3 Resampling with GroupBy

In [ ]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

In [ ]:
ts.groupby(lambda x: x.weekday).mean()

### 5.4 Upsampling and Interpolation

In [ ]:
frame = DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

In [ ]:
frame.resample('D').bfill()

In [ ]:
frame.resample('D').ffill(limit=2)